.filter {
  position: fixed;
  @include media-breakpoint-up(lg) {
    width: 180px;
  }
  @include media-breakpoint-down(md) {
    width: 117px;
  }

  .border-1 {
    border-radius: 10px;
  }
  h3 {
    font-size: 15px;
    font-weight: 600;
  }
  .category-filter {
    padding-top: 20px;

    .category {
      margin-top: 18px;
    }
  }
  .list-filter {
    margin-left: -30px;

    li {
      margin-top: 8px;
    }
    a {
      color: #9da2aa;
      font-size: 14px;
    }
  }

  .hr-border {
    border-bottom: 1px solid #9da2aa;
    margin-top: 45px;
    margin-bottom: 16px;
  }

  .price {
    padding-bottom: 80px;
    span {
      font-size: 12px;
      font-weight: 600;
      color: #979797;
    }
    input,
    input::placeholder {
      font-size: 12px;
      color: #b7b7b7;
    }
  }

  a:hover {
    text-decoration: none;
  }
}
