.page-product {
  @include media-breakpoint-down(md) {
    .botton-group {
      margin-left: -95px;
    }
    .urutan {
      margin-left: -70px;
    }
    .product {
      .button-diskon {
        position: relative;
        right: -70px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .urutan {
      margin-left: -60px;
    }

    .botton-group {
      margin-left: -80px;
    }
  }

  .urutan {
    font-size: 15px;
    font-weight: 600;
    margin-top: 0px;
  }

  .pagination * {
    border: 0;
  }
  .pagination a {
    color: #9da2aa;
  }
  .active-page {
    color: #000 !important;
    font-weight: bold;
  }
}
